.film-info {
    .loader-wrapper {
        min-width: 450px;
        min-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__poster {
        width: 40%;
        float: left;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-content {
        padding-top: 20px;
    }
    &__title {
        font-size: 38px;
        margin-bottom: 10px;
        @include desktopDEF(){
            font-size: 28px;
        }
        @include tabletMS(){
            font-size: 24px;
        }
    }
    &__row {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 5px;
        @include tabletMD(){
            font-size: 18px;
        }
        @include tabletMS(){
            font-size: 16px;
        }
    }
    &__row:last-child {
        margin-bottom: 20px;
    }
    &__general {
        display: flex;
        gap: 20px;
        margin-bottom: 35px;
        color: $light;
        @include tabletMD(){
            margin-bottom: 20px;
        }
        @include tabletMS(){
            font-size: 14px;
            gap: 10px;
        }
    }
}
.rating-list {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include tabletMS(){
        gap: 10px;
    }
    &__item {
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: 30px;
        font-size: 22px;
        line-height: 1.5;
        @include tabletMD(){
            font-size: 18px;
            padding-left: 35px;
            background-size: 25px;
        }
        @include tabletMS(){
            padding-left: 30px;
            font-size: 16px;
            background-size: 20px;
            line-height: 1.3;
        }
    }
    &__item.critic {
        background-image: url('../images/icons/metacritic.png');
    }
    &__item.tomato {
        background-image: url('../images/icons/rotten_tomatoes.png');
    }
    &__item.imdb {
        background-image: url('../images/icons/imdb.png');
    }
}