.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);
    }
    &-body {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $gray-2;
        padding: 40px;
        border-radius: 10px;
        max-height: 90%;
        overflow-y: scroll;
        @include tabletMD(){
            padding: 20px;
        }
        @include mobileSM(){
            max-height: 100%;
            width: 100%;
            border-radius: unset;
        }
    }
}
.modal-close {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    @include tabletMD(){
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
    }
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background-color: $white;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}