.search {
    padding-top: 100px;
    padding-bottom: 100px;
    @include tabletMD(){
        padding-top: 70px;
        padding-bottom: 50px;
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 300;
        @include tabletMD(){
            font-size: 14px;
        }
    }
    &-field {
        position: relative;
        display: flex;
        margin-bottom: 40px;
        @include tabletMD(){
            margin-bottom: 20px;
        }
    }
    &-input {
        width: 100%;
        padding: 20px;
        border: 2px solid $gray;
        outline: none;
        border-radius: 10px;
        background-color: $gray-2;
        color: $white;
        font-size: 20px;
        transition: .3s all;
        @include tabletMD(){
            padding: 10px;
            font-size: 18px;
        }
        &:focus {
            border: 1px solid #0a78ff;
            -webkit-box-shadow: 0 0 0 4px #21376e;
            box-shadow: 0 0 0 4px #21376e;
        }
    }
    &-button {
        position: absolute;
        top: calc(50% - 12px);
        right: 25px;
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        font-size: 0;
        background: url('../images/icons/search.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
        @include tabletMD(){
            background-size: 80%;
            background-position: center;
        }
    }
    input[type="search" i]::-webkit-search-cancel-button {
        display: none;
    }
}

.search-results {
    &__header {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
    &__header-title {
        text-transform: uppercase;
        @include tabletMD(){
            font-size: 16px;
        }
    }
    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @include tabletMD(){
            gap: 20px;
        }
        @include tabletMS(){
            gap: 20px;
        }
    }
}

