._f {
    display: flex;
}
._f-column {
    display: flex;
    flex-direction: column;
}
._f-wrap {
    flex-wrap: wrap;
}
._j-between {
    justify-content: space-between;
}
._j-center {
    justify-content: center;
}
._i-center {
    align-items: center;
}
._i-base {
    align-items: baseline;
}